@using Microsoft.AspNetCore.Http;
@using System.Security.Claims;
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <title>Admin Home Page</title>
    <!-- Bootstrap -->
    <link href="~/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/admin/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="~/admin/vendors/easypiechart/jquery.easy-pie-chart.css" rel="stylesheet" media="screen">
    <link href="~/admin/assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/admin/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" asp-area="Admin" asp-action="Index" asp-controller="Home">Admin Panel</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i>@(User.FindFirst(ClaimTypes.NameIdentifier).Value)<i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" asp-action="Profile" asp-area="Admin" asp-controller="Home">Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a tabindex="-1" asp-action="Logout" asp-controller="Account">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" id="sidebar">
                <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
                    <li class="active">
                        <a asp-area="Admin" asp-action="Index" asp-controller="Home"><i class="icon-chevron-right"></i> Dashboard</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-action="CreateProduct" asp-controller="Home"><i class="icon-chevron-right"></i> Create Product</a>
                    </li>
                </ul>
            </div>
            <!--/span-->
            @RenderBody()
        </div>
        <hr>
        <footer>
            <p>&copy; SE1304 2019</p>
        </footer>
    </div>
    <!--/.fluid-container-->
    <script src="~/admin/vendors/jquery-1.9.1.min.js"></script>
    <script src="~/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
    <script src="~/admin/assets/scripts.js"></script>
    <script>
        $(function () {
            // Easy pie charts
            $('.chart').easyPieChart({ animate: 1000 });
        });
    </script>
</body>

</html>